:root {
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: slateblue;
  --animate-speed: 2s;
  --button-light: #f4f4f4;
  --button-dark: #333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  /* overflow hidden to get rid of the scrollbar */
  overflow: hidden;
}

/* page colors */
#page-1 {background: var(--page-1-color)}
#page-2 {background: var(--page-2-color)}
#page-3 {background: var(--page-3-color)}
#page-4 {background: var(--page-4-color)}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10rem;
}

.page h1{
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}

.page p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--button-light);
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
}

.btn:hover, .btn-dark {
  background: var(--button-dark);
  color: #fff;
}

.btn-dark:hover {
  background: var(--button-light);
  color: #333;
}

/* Page Animation */
#page-1 h1 {
  transform: translateY(-100vh);
  animation-name: animate1;
  animation-duration: var(--animate-speed);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

/* Keyframe */
@keyframes animate1 {
  to {
    transform: translateY(0);
  }
}

#page-1 p {
  transform: translateX(-100vw);
  animation-name: animate2;
  animation-duration: var(--animate-speed);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* Keyframe */
@keyframes animate2 {
  to {
    transform: translateX(0)
  }
}